In [2]:
import pandas as pd
import numpy as np

In [6]:
schools_df = pd.read_csv("cleaned_school_data.csv")
schools_df

,school,district,address,lat,lng,enrollment,percent_white,percent_black,percent_hispanic,percent_asian,percent_other,free_lunch_eligible,reduced_price_lunch_eligible,not_eligible,total_count,eligible_for_frl,majority_minority
0,Alcona Community High School,Alcona Community Schools,"51 N Barlow Rd, Lincoln, MI 48742, United States",44.657435,-83.405403,356,95,2,1,1,1,236,38,143,417,66,No
1,Alcona Elementary School,Alcona Community Schools,"181 N Barlow Rd, Lincoln, MI 48742, United States",44.657189,-83.403005,367,93,1,3,0,3,192,35,82,309,73,No
2,AuTrain-Onota Public School,AuTrain-Onota Public Schools,"N8790 Deerton Rd, Deerton, MI 49822, United St...",46.474440,-87.042480,31,87,0,3,0,10,25,6,11,42,74,No
3,Burt Township School,Burt Township School District,"27 Colwell Street, Grand Marais, MI 49839, Uni...",46.668308,-85.978755,25,100,0,0,0,0,24,1,5,30,83,No
4,William G. Mather Elementary School,Munising Public Schools,"810 M-28 suite a, Munising, MI 49862, United S...",46.417357,-86.662634,293,82,0,2,0,16,128,12,131,271,52,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2828,Forest View Elementary School,Cadillac Area Public Schools,"7840 S 25 Rd, Boon, MI 49618, United States",44.224804,-85.579371,273,93,0,3,0,3,109,22,120,251,52,No
2829,Mackinaw Trail Middle School,Cadillac Area Public Schools,"8401 S Mackinaw Trail, Cadillac, MI 49601, Uni...",44.216819,-85.401993,451,95,1,2,0,3,242,51,192,485,60,No
2830,Manton Consolidated High School,Manton Consolidated Schools,"105 5th St, Manton, MI 49663, United States",44.405888,-85.397272,278,96,1,1,0,2,132,20,126,278,55,No
2831,Manton Consolidated Elem. School,Manton Consolidated Schools,"Manton Consolidated Schools, MI, USA",44.419952,-85.396277,401,94,1,4,0,1,193,45,139,377,63,No
2832,Floyd M. Jewett Elem. School,Mesick Consolidated Schools,"210 E Mesick Ave, Mesick, MI 49668, United States",44.405477,-85.711101,324,94,2,2,0,2,181,17,71,269,74,No

In [20]:
count = schools_df.loc[schools_df['majority_minority']=="No"]
count.count()

school                          2164
district                        2164
address                         2164
lat                             2164
lng                             2164
enrollment                      2164
percent_white                   2164
percent_black                   2164
percent_hispanic                2164
percent_asian                   2164
percent_other                   2164
free_lunch_eligible             2164
reduced_price_lunch_eligible    2164
not_eligible                    2164
total_count                     2164
eligible_for_frl                2164
majority_minority               2164
dtype: int64

In [19]:
count = schools_df.loc[(schools_df['eligible_for_frl'] > 66) & (schools_df['majority_minority']=="No")]
count.count()

school                          439
district                        439
address                         439
lat                             439
lng                             439
enrollment                      439
percent_white                   439
percent_black                   439
percent_hispanic                439
percent_asian                   439
percent_other                   439
free_lunch_eligible             439
reduced_price_lunch_eligible    439
not_eligible                    439
total_count                     439
eligible_for_frl                439
majority_minority               439
dtype: int64

In [31]:
schools_df['% White'] = list(map(lambda x: x[:-1], schools_df['% White'].values))
schools_df['% Black'] = list(map(lambda x: x[:-1], schools_df['% Black'].values))
schools_df['% Hispanic'] = list(map(lambda x: x[:-1], schools_df['% Hispanic'].values))
schools_df['% Asian'] = list(map(lambda x: x[:-1], schools_df['% Asian'].values))
schools_df['% Other'] = list(map(lambda x: x[:-1], schools_df['% Other'].values))

In [32]:
schools_df.to_csv("Cleaned_MI_Schools.csv")

In [34]:
schools_df

,School,District,Enrollment,% White,% Black,% Hispanic,% Asian,% Other
0,12th Street Elementary,Portage Public Schools,593,70,8,5,11,7
1,54th Street Academy,Kelloggsville Public Schools,102,29,36,28,2,4
2,A. Philip Randolph Technical High School,Detroit City School District,117,0,100,0,0,0
3,A.A. Rather School,Ionia Public Schools,315,85,2,10,2,2
4,A.C. Edgerton Elementary School,Clio Area School District,377,92,2,1,1,5
...,...,...,...,...,...,...,...,...
3369,Zeeland Quest,Zeeland Public Schools,171,77,2,13,1,8
3370,Zeeland West High School,Zeeland Public Schools,808,74,1,15,6,3
3371,Zemmer Campus 8/9,Lapeer Community Schools,821,93,1,3,1,3
3372,Zilwaukee K-8 School,"Saginaw, School District of the City of",242,44,32,20,1,3
3373,Zinser Elementary School,Kenowa Hills Public Schools,293,78,2,9,3,8

In [39]:
locations_df = pd.read_csv("MI_Schools_loc.csv")
locations_df

,School,District,Address,Lat,Lng
0,12th Street Elementary,Portage Public Schools,"6501 S 12th St, Portage, MI 49024, United States",42.220231,-85.646539
1,54th Street Academy,Kelloggsville Public Schools,"173 54th St SW, Grand Rapids, MI 49548, United...",42.868195,-85.668783
2,A. Philip Randolph Technical High School,Detroit City School District,"17101 Hubbell Ave, Detroit, MI 48235, United S...",42.417519,-83.191373
3,A.A. Rather School,Ionia Public Schools,"380 E Tuttle Rd, Ionia, MI 48846, United States",42.952003,-85.065735
4,A.C. Edgerton Elementary School,Clio Area School District,"11218 N Linden Rd, Clio, MI 48420, United States",43.168941,-83.772962
...,...,...,...,...,...
3358,Zeeland East High School,Zeeland Public Schools,"3333 96th Ave, Zeeland, MI 49464, United States",42.828655,-86.021662
3359,Zeeland Quest,Zeeland Public Schools,"175 W Roosevelt Ave, Zeeland, MI 49464, United...",42.820051,-86.024776
3360,Zeeland West High School,Zeeland Public Schools,"3390 100th Ave, Zeeland, MI 49464, United States",42.830534,-86.026066
3361,Zemmer Campus 8/9,Lapeer Community Schools,"1920 W Oregon St, Lapeer, MI 48446, United States",43.058108,-83.335690
3362,Zilwaukee K-8 School,"Saginaw, School District of the City of","500 W Johnson St, Saginaw, MI 48604, United St...",43.478397,-83.922114

In [42]:
frl_counts = pd.read_csv("Fall_2017_FRL.csv")
frl_counts

,District Code,District Name,Building Code,School Name,Free Lunch Eligible,Reduced-Price Lunch Eligible,Not Eligible,Total Count,% Student Body Eligble for FRL
0,1010,Alcona Community Schools,44,Alcona Community High School,236,38,143,417,66
1,1010,Alcona Community Schools,4937,Alcona Elementary School,192,35,82,309,73
2,2010,AuTrain-Onota Public Schools,4959,AuTrain-Onota Public School,25,6,11,42,74
3,2020,Burt Township School District,4999,Burt Township School,24,1,5,30,83
4,2070,Munising Public Schools,597,William G. Mather Elementary School,128,12,131,271,52
...,...,...,...,...,...,...,...,...,...
3675,84020,Michigan Department of Corrections,9220,Macomb Correctional Facility,2,0,4,6,33
3676,84020,Michigan Department of Corrections,9226,Parnall Correctional Facility,2,0,0,2,100
3677,84020,Michigan Department of Corrections,9231,Saginaw Correctional Facility,2,0,5,7,29
3678,84020,Michigan Department of Corrections,9233,St. Louis Correctional Facility,3,0,17,20,15
3679,84020,Michigan Department of Corrections,9780,Huron Valley Women's,2,0,2,4,50

In [57]:
combined_data = pd.read_csv("combined_data.csv")
combined_data

,school,district,address,lat,lng,enrollment,percent_white,percent_black,percent_hispanic,percent_asian,percent_other,free_lunch_eligible,reduced_price_lunch_eligible,not_eligible,total_count,percent_student_body_eligible_for_frl
0,Alcona Community High School,Alcona Community Schools,"51 N Barlow Rd, Lincoln, MI 48742, United States",44.657435,-83.405403,356,95,2,1,1,1,236,38,143,417,66
1,Alcona Elementary School,Alcona Community Schools,"181 N Barlow Rd, Lincoln, MI 48742, United States",44.657189,-83.403005,367,93,1,3,0,3,192,35,82,309,73
2,AuTrain-Onota Public School,AuTrain-Onota Public Schools,"N8790 Deerton Rd, Deerton, MI 49822, United St...",46.474440,-87.042480,31,87,0,3,0,10,25,6,11,42,74
3,Burt Township School,Burt Township School District,"27 Colwell Street, Grand Marais, MI 49839, Uni...",46.668308,-85.978755,25,100,0,0,0,0,24,1,5,30,83
4,William G. Mather Elementary School,Munising Public Schools,"810 M-28 suite a, Munising, MI 49862, United S...",46.417357,-86.662634,293,82,0,2,0,16,128,12,131,271,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5441,Manton Consolidated High School,Manton Consolidated Schools,"105 5th St, Manton, MI 49663, United States",44.405888,-85.397272,278,96,1,1,0,2,132,20,126,278,55
5442,Manton Consolidated Elem. School,Manton Consolidated Schools,"Manton Consolidated Schools, MI, USA",44.419952,-85.396277,401,94,1,4,0,1,193,45,139,377,63
5443,Manton Consolidated Middle School,Manton Consolidated Schools,"Manton Consolidated Schools, MI, USA",44.419952,-85.396277,280,96,0,2,0,1,165,28,107,300,64
5444,Floyd M. Jewett Elem. School,Mesick Consolidated Schools,"210 E Mesick Ave, Mesick, MI 49668, United States",44.405477,-85.711101,324,94,2,2,0,2,181,17,71,269,74
5445,Mesick Consolidated Jr/Sr High School,Mesick Consolidated Schools,"210 E Mesick Ave, Mesick, MI 49668, United States",44.405457,-85.709921,298,96,1,1,0,2,232,29,99,360,73

In [61]:
cleaned_data = combined_data.drop_duplicates(subset="address")

In [63]:
cleaned_data.to_csv("cleaned_data.csv")

In [24]:
cleaned_df = pd.read_csv("district_data_full_clean.csv")
cleaned_df['tot_rev_per_s'].describe()

count    510.000000
mean      12.315804
std        4.612904
min        8.558442
25%       10.686032
50%       11.349739
75%       12.462632
max       83.823529
Name: tot_rev_per_s, dtype: float64

In [17]:
majority_minority = cleaned_df.loc[cleaned_df['majority_minority'] == "Yes"]
majority_minority.count()

NAME                                     55
TOTALREV                                 55
TFEDREV                                  55
TSTREV                                   55
TLOCREV                                  55
tot_rev_per_s                            55
fed_rev_per_s                            55
st_rev_per_s                             55
loc_rev_per_s                            55
ENROLL                                   55
TOTALEXP                                 55
TCURINST                                 55
tot_spend_per_s                          55
tot_inst_per_s                           55
lat                                      55
lng                                      55
ave_school_enrol                         55
ave_prcnt_wht                            55
ave_prcnt_bk                             55
ave_prcnt_hisp                           55
ave_prcnt_asn                            55
ave_prcnt_othr                           55
free_lunch_eligible                      55
not_eligible                             55
total_count                              55
percent_student_body_eligible_for_frl    55
majority_minority                        55
dtype: int64

In [26]:
count = cleaned_df.loc[(cleaned_df['percent_student_body_eligible_for_frl'] > 50) & (cleaned_df['majority_minority']=="No")]
count.count()

NAME                                     256
TOTALREV                                 256
TFEDREV                                  256
TSTREV                                   256
TLOCREV                                  256
tot_rev_per_s                            256
fed_rev_per_s                            256
st_rev_per_s                             256
loc_rev_per_s                            256
ENROLL                                   256
TOTALEXP                                 256
TCURINST                                 256
tot_spend_per_s                          256
tot_inst_per_s                           256
lat                                      256
lng                                      256
ave_school_enrol                         256
ave_prcnt_wht                            256
ave_prcnt_bk                             256
ave_prcnt_hisp                           256
ave_prcnt_asn                            256
ave_prcnt_othr                           256
free_lunch_eligible                      256
not_eligible                             256
total_count                              256
percent_student_body_eligible_for_frl    256
majority_minority                        256
dtype: int64

In [22]:
majority_minority = cleaned_df.loc[cleaned_df['majority_minority'] == "No"]
majority_minority.count()

NAME                                     455
TOTALREV                                 455
TFEDREV                                  455
TSTREV                                   455
TLOCREV                                  455
tot_rev_per_s                            455
fed_rev_per_s                            455
st_rev_per_s                             455
loc_rev_per_s                            455
ENROLL                                   455
TOTALEXP                                 455
TCURINST                                 455
tot_spend_per_s                          455
tot_inst_per_s                           455
lat                                      455
lng                                      455
ave_school_enrol                         455
ave_prcnt_wht                            455
ave_prcnt_bk                             455
ave_prcnt_hisp                           455
ave_prcnt_asn                            455
ave_prcnt_othr                           455
free_lunch_eligible                      455
not_eligible                             455
total_count                              455
percent_student_body_eligible_for_frl    455
majority_minority                        455
dtype: int64

In [21]:
count2 = cleaned_df.loc[(cleaned_df['percent_student_body_eligible_for_frl'] > 66) & (cleaned_df['majority_minority']=="No")]
count2.count()

NAME                                     76
TOTALREV                                 76
TFEDREV                                  76
TSTREV                                   76
TLOCREV                                  76
tot_rev_per_s                            76
fed_rev_per_s                            76
st_rev_per_s                             76
loc_rev_per_s                            76
ENROLL                                   76
TOTALEXP                                 76
TCURINST                                 76
tot_spend_per_s                          76
tot_inst_per_s                           76
lat                                      76
lng                                      76
ave_school_enrol                         76
ave_prcnt_wht                            76
ave_prcnt_bk                             76
ave_prcnt_hisp                           76
ave_prcnt_asn                            76
ave_prcnt_othr                           76
free_lunch_eligible                      76
not_eligible                             76
total_count                              76
percent_student_body_eligible_for_frl    76
majority_minority                        76
dtype: int64